{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientMutationMethods", "EnumSetterOverload", "ClientConstructors" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "shapesToSkipPruning" : [ ],
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2023-09-30",
    "asyncClient" : "AmazonBedrockRuntimeAsyncClient",
    "asyncClientBuilderClassName" : "AmazonBedrockRuntimeAsyncClientBuilder",
    "asyncInterface" : "AmazonBedrockRuntimeAsync",
    "awsQueryCompatible" : null,
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonBedrockRuntimeModuleInjector",
    "defaultEndpoint" : "bedrock-runtime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "bedrock-runtime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>Describes the API operations for running inference using Amazon Bedrock models.</p>",
    "endpointPrefix" : "bedrock-runtime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.bedrockruntime",
    "packagePath" : "com/amazonaws/services/bedrockruntime",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Bedrock Runtime",
    "serviceId" : "Bedrock Runtime",
    "serviceName" : "Amazon Bedrock Runtime",
    "signingName" : "bedrock",
    "smokeTestsPackageName" : "com.amazonaws.services.bedrockruntime.smoketests",
    "syncClient" : "AmazonBedrockRuntimeClient",
    "syncClientBuilderClassName" : "AmazonBedrockRuntimeClientBuilder",
    "syncInterface" : "AmazonBedrockRuntime",
    "uid" : "bedrock-runtime-2023-09-30",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "Converse" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ConverseResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ConverseResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ConverseRequest, ConverseResult>",
      "asyncReturnType" : "ConverseResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Sends messages to the specified Amazon Bedrock model. <code>Converse</code> provides a consistent interface that works with all models that support messages. This allows you to write code once and use it with different models. Should a model have unique inference parameters, you can also pass those unique parameters to the model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/api-methods-run.html\">Run inference</a> in the Bedrock User Guide.</p> <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelTimeoutException",
        "documentation" : "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelNotReadyException",
        "documentation" : "<p>The model specified in the request is not ready to serve inference requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelErrorException",
        "documentation" : "<p>The request failed due to an error while processing the model.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConverseRequest",
        "variableName" : "converseRequest",
        "variableType" : "ConverseRequest",
        "documentation" : "",
        "simpleType" : "ConverseRequest",
        "variableSetterType" : "ConverseRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "converse",
      "operationName" : "Converse",
      "returnType" : {
        "returnType" : "ConverseResult",
        "documentation" : null
      },
      "syncReturnType" : "ConverseResult"
    },
    "InvokeModel" : {
      "asyncCallableType" : "java.util.concurrent.Callable<InvokeModelResult>",
      "asyncFutureType" : "java.util.concurrent.Future<InvokeModelResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<InvokeModelRequest, InvokeModelResult>",
      "asyncReturnType" : "InvokeModelResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Invokes the specified Amazon Bedrock model to run inference using the prompt and inference parameters provided in the request body. You use model inference to generate text, images, and embeddings.</p> <p>For example code, see <i>Invoke model code examples</i> in the <i>Amazon Bedrock User Guide</i>. </p> <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "AccessDeniedException",
        "documentation" : "<p>The request is denied because of missing access permissions.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "ResourceNotFoundException",
        "documentation" : "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ThrottlingException",
        "documentation" : "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ModelTimeoutException",
        "documentation" : "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>",
        "httpStatusCode" : 408
      }, {
        "exceptionName" : "InternalServerException",
        "documentation" : "<p>An internal server error occurred. Retry your request.</p>",
        "httpStatusCode" : 500
      }, {
        "exceptionName" : "ValidationException",
        "documentation" : "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelNotReadyException",
        "documentation" : "<p>The model specified in the request is not ready to serve inference requests.</p>",
        "httpStatusCode" : 429
      }, {
        "exceptionName" : "ServiceQuotaExceededException",
        "documentation" : "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ModelErrorException",
        "documentation" : "<p>The request failed due to an error while processing the model.</p>",
        "httpStatusCode" : 424
      } ],
      "hasBlobMemberAsPayload" : true,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "InvokeModelRequest",
        "variableName" : "invokeModelRequest",
        "variableType" : "InvokeModelRequest",
        "documentation" : "",
        "simpleType" : "InvokeModelRequest",
        "variableSetterType" : "InvokeModelRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "invokeModel",
      "operationName" : "InvokeModel",
      "returnType" : {
        "returnType" : "InvokeModelResult",
        "documentation" : null
      },
      "syncReturnType" : "InvokeModelResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The request is denied because of missing access permissions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.exception.AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AnyToolChoice" : {
      "c2jName" : "AnyToolChoice",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The model must request at least one tool (no text is generated).</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.AnyToolChoice",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AnyToolChoice",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AnyToolChoice",
        "variableName" : "anyToolChoice",
        "variableType" : "AnyToolChoice",
        "documentation" : null,
        "simpleType" : "AnyToolChoice",
        "variableSetterType" : "AnyToolChoice"
      },
      "wrapper" : false
    },
    "AutoToolChoice" : {
      "c2jName" : "AutoToolChoice",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The Model automatically decides if a tool should be called or to whether to generate text instead.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.AutoToolChoice",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AutoToolChoice",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AutoToolChoice",
        "variableName" : "autoToolChoice",
        "variableType" : "AutoToolChoice",
        "documentation" : null,
        "simpleType" : "AutoToolChoice",
        "variableSetterType" : "AutoToolChoice"
      },
      "wrapper" : false
    },
    "ContentBlock" : {
      "c2jName" : "ContentBlock",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>A block of content for a message.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.ContentBlock",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "text",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>Text to include in the message.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withText",
        "getterDocumentation" : "/**<p>Text to include in the message.</p>\n@return Text to include in the message.*/",
        "getterMethodName" : "getText",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "text",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "text",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Text",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.*/",
        "setterMethodName" : "setText",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "text",
          "variableType" : "String",
          "documentation" : "<p>Text to include in the message.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "image",
        "c2jShape" : "ImageBlock",
        "deprecated" : false,
        "documentation" : "<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withImage",
        "getterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@return Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>*/",
        "getterMethodName" : "getImage",
        "getterModel" : {
          "returnType" : "ImageBlock",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "image",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "image",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Image",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>*/",
        "setterMethodName" : "setImage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ImageBlock",
          "variableName" : "image",
          "variableType" : "ImageBlock",
          "documentation" : "",
          "simpleType" : "ImageBlock",
          "variableSetterType" : "ImageBlock"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ImageBlock",
          "variableName" : "image",
          "variableType" : "ImageBlock",
          "documentation" : "<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>",
          "simpleType" : "ImageBlock",
          "variableSetterType" : "ImageBlock"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "toolResult",
        "c2jShape" : "ToolResultBlock",
        "deprecated" : false,
        "documentation" : "<p>The result for a tool request that a model makes.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withToolResult",
        "getterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@return The result for a tool request that a model makes.*/",
        "getterMethodName" : "getToolResult",
        "getterModel" : {
          "returnType" : "ToolResultBlock",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "toolResult",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "toolResult",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ToolResult",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.*/",
        "setterMethodName" : "setToolResult",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ToolResultBlock",
          "variableName" : "toolResult",
          "variableType" : "ToolResultBlock",
          "documentation" : "",
          "simpleType" : "ToolResultBlock",
          "variableSetterType" : "ToolResultBlock"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ToolResultBlock",
          "variableName" : "toolResult",
          "variableType" : "ToolResultBlock",
          "documentation" : "<p>The result for a tool request that a model makes.</p>",
          "simpleType" : "ToolResultBlock",
          "variableSetterType" : "ToolResultBlock"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Image" : {
          "c2jName" : "image",
          "c2jShape" : "ImageBlock",
          "deprecated" : false,
          "documentation" : "<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withImage",
          "getterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@return Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>*/",
          "getterMethodName" : "getImage",
          "getterModel" : {
            "returnType" : "ImageBlock",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "image",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "image",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Image",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>*/",
          "setterMethodName" : "setImage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ImageBlock",
            "variableName" : "image",
            "variableType" : "ImageBlock",
            "documentation" : "",
            "simpleType" : "ImageBlock",
            "variableSetterType" : "ImageBlock"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>\n@param image Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ImageBlock",
            "variableName" : "image",
            "variableType" : "ImageBlock",
            "documentation" : "<p>Image to include in the message. </p> <note> <p>This field is only supported by Anthropic Claude 3 models.</p> </note>",
            "simpleType" : "ImageBlock",
            "variableSetterType" : "ImageBlock"
          },
          "xmlNameSpaceUri" : null
        },
        "Text" : {
          "c2jName" : "text",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>Text to include in the message.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withText",
          "getterDocumentation" : "/**<p>Text to include in the message.</p>\n@return Text to include in the message.*/",
          "getterMethodName" : "getText",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "text",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "text",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Text",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.*/",
          "setterMethodName" : "setText",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Text to include in the message.</p>\n@param text Text to include in the message.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "text",
            "variableType" : "String",
            "documentation" : "<p>Text to include in the message.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ToolResult" : {
          "c2jName" : "toolResult",
          "c2jShape" : "ToolResultBlock",
          "deprecated" : false,
          "documentation" : "<p>The result for a tool request that a model makes.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withToolResult",
          "getterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@return The result for a tool request that a model makes.*/",
          "getterMethodName" : "getToolResult",
          "getterModel" : {
            "returnType" : "ToolResultBlock",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "toolResult",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "toolResult",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "ToolResult",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.*/",
          "setterMethodName" : "setToolResult",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ToolResultBlock",
            "variableName" : "toolResult",
            "variableType" : "ToolResultBlock",
            "documentation" : "",
            "simpleType" : "ToolResultBlock",
            "variableSetterType" : "ToolResultBlock"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The result for a tool request that a model makes.</p>\n@param toolResult The result for a tool request that a model makes.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "ToolResultBlock",
            "variableName" : "toolResult",
            "variableType" : "ToolResultBlock",
            "documentation" : "<p>The result for a tool request that a model makes.</p>",
            "simpleType" : "ToolResultBlock",
            "variableSetterType" : "ToolResultBlock"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ContentBlock",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ContentBlock",
        "variableName" : "contentBlock",
        "variableType" : "ContentBlock",
        "documentation" : null,
        "simpleType" : "ContentBlock",
        "variableSetterType" : "ContentBlock"
      },
      "wrapper" : false
    },
    "ConversationRole" : {
      "c2jName" : "ConversationRole",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : [ {
        "name" : "User",
        "value" : "user"
      }, {
        "name" : "Assistant",
        "value" : "assistant"
      } ],
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.enum.ConversationRole",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : null,
      "membersAsMap" : { },
      "packageName" : "com.amazonaws.services.bedrockruntime.enum",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConversationRole",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConversationRole",
        "variableName" : "conversationRole",
        "variableType" : "ConversationRole",
        "documentation" : null,
        "simpleType" : "ConversationRole",
        "variableSetterType" : "ConversationRole"
      },
      "wrapper" : false
    },
    "ConverseMetrics" : {
      "c2jName" : "ConverseMetrics",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>Metrics for a call to <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.ConverseMetrics",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "latencyMs",
        "c2jShape" : "Long",
        "deprecated" : false,
        "documentation" : "<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withLatencyMs",
        "getterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@return The latency of the call to <code>Converse</code>, in milliseconds.*/",
        "getterMethodName" : "getLatencyMs",
        "getterModel" : {
          "returnType" : "Long",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "latencyMs",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "latencyMs",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Long",
        "marshallingType" : "LONG",
        "name" : "LatencyMs",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.*/",
        "setterMethodName" : "setLatencyMs",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "latencyMs",
          "variableType" : "Long",
          "documentation" : "",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Long",
          "variableName" : "latencyMs",
          "variableType" : "Long",
          "documentation" : "<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>",
          "simpleType" : "Long",
          "variableSetterType" : "Long"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "LatencyMs" : {
          "c2jName" : "latencyMs",
          "c2jShape" : "Long",
          "deprecated" : false,
          "documentation" : "<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withLatencyMs",
          "getterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@return The latency of the call to <code>Converse</code>, in milliseconds.*/",
          "getterMethodName" : "getLatencyMs",
          "getterModel" : {
            "returnType" : "Long",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "latencyMs",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "latencyMs",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Long",
          "marshallingType" : "LONG",
          "name" : "LatencyMs",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.*/",
          "setterMethodName" : "setLatencyMs",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "latencyMs",
            "variableType" : "Long",
            "documentation" : "",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>\n@param latencyMs The latency of the call to <code>Converse</code>, in milliseconds.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Long",
            "variableName" : "latencyMs",
            "variableType" : "Long",
            "documentation" : "<p>The latency of the call to <code>Converse</code>, in milliseconds. </p>",
            "simpleType" : "Long",
            "variableSetterType" : "Long"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "latencyMs" ],
      "shapeName" : "ConverseMetrics",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConverseMetrics",
        "variableName" : "converseMetrics",
        "variableType" : "ConverseMetrics",
        "documentation" : null,
        "simpleType" : "ConverseMetrics",
        "variableSetterType" : "ConverseMetrics"
      },
      "wrapper" : false
    },
    "ConverseOutput" : {
      "c2jName" : "ConverseOutput",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The output from a call to <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a>.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.model.ConverseOutput",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "message",
        "c2jShape" : "Message",
        "deprecated" : false,
        "documentation" : "<p>The message that the model generates.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessage",
        "getterDocumentation" : "/**<p>The message that the model generates.</p>\n@return The message that the model generates.*/",
        "getterMethodName" : "getMessage",
        "getterModel" : {
          "returnType" : "Message",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "message",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "message",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "Message",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.*/",
        "setterMethodName" : "setMessage",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Message",
          "variableName" : "message",
          "variableType" : "Message",
          "documentation" : "",
          "simpleType" : "Message",
          "variableSetterType" : "Message"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Message",
          "variableName" : "message",
          "variableType" : "Message",
          "documentation" : "<p>The message that the model generates.</p>",
          "simpleType" : "Message",
          "variableSetterType" : "Message"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Message" : {
          "c2jName" : "message",
          "c2jShape" : "Message",
          "deprecated" : false,
          "documentation" : "<p>The message that the model generates.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMessage",
          "getterDocumentation" : "/**<p>The message that the model generates.</p>\n@return The message that the model generates.*/",
          "getterMethodName" : "getMessage",
          "getterModel" : {
            "returnType" : "Message",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "message",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "message",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "StructuredPojo",
          "marshallingType" : "STRUCTURED",
          "name" : "Message",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.*/",
          "setterMethodName" : "setMessage",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Message",
            "variableName" : "message",
            "variableType" : "Message",
            "documentation" : "",
            "simpleType" : "Message",
            "variableSetterType" : "Message"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The message that the model generates.</p>\n@param message The message that the model generates.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Message",
            "variableName" : "message",
            "variableType" : "Message",
            "documentation" : "<p>The message that the model generates.</p>",
            "simpleType" : "Message",
            "variableSetterType" : "Message"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.bedrockruntime.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "ConverseOutput",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ConverseOutput",
        "variableName" : "converseOutput",
        "variableType" : "ConverseOutput",
        "documentation" : null,
        "simpleType" : "ConverseOutput",
        "variableSetterType" : "ConverseOutput"
      },
      "wrapper" : false
    },
    "ConverseRequest" : {
      "c2jName" : "ConverseRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.bedrockruntime.request.ConverseRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "Converse",
        "locationName" : null,
        "requestUri" : "/model/{modelId}/converse",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "modelId",
        "c2jShape" : "ConversationalModelId",
        "deprecated" : false,
        "documentation" : "<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>\n@param modelId The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withModelId",
        "getterDocumentation" : "/**<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>\n@return The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li>*/",
        "getterMethodName" : "getModelId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "modelId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "modelId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ModelId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>\n@param modelId The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li>*/",
        "setterMethodName" : "setModelId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>\n@param modelId The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "modelId",
          "variableType" : "String",
          "documentation" : "<p>The identifier for the model that you want to call.</p> <p>The <code>modelId</code> to provide depends on the type of model that you use:</p> <ul> <li> <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p> </li> <li> <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p> </li> </ul>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "messages",
        "c2jShape" : "Messages",
        "deprecated" : false,
        "documentation" : "<p>The messages that you want to send to the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The messages that you want to send to the model.</p>\n@param messages The messages that you want to send to the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMessages",
        "getterDocumentation" : "/**<p>The messages that you want to send to the model.</p>\n@return The messages that you want to send to the model.*/",
        "getterMethodName" : "getMessages",
        "getterModel" : {
          "returnType" : "java.util.List<Message>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "messages",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "messages",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "Message",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "Message",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Message",
              "variableName" : "member",
              "variableType" : "Message",
              "documentation" : "",
              "simpleType" : "Message",
              "variableSetterType" : "Message"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "Message",
              "variableName" : "member",
              "variableType" : "Message",
              "documentation" : "",
              "simpleType" : "Message",
              "variableSetterType" : "Message"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "Message",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "Message",
          "templateImplType" : "java.util.ArrayList<Message>",
          "templateType" : "java.util.List<Message>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Messages",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The messages that you want to send to the model.</p>\n@param messages The messages that you want to send to the model.*/",
        "setterMethodName" : "setMessages",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Message>",
          "variableName" : "messages",
          "variableType" : "java.util.List<Message>",
          "documentation" : "",
          "simpleType" : "List<Message>",
          "variableSetterType" : "java.util.Collection<Message>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The messages that you want to send to the model.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setMessages(java.util.Collection)} or {@link #withMessages(java.util.Collection)} if you want to override the existing values.</p>\n@param messages The messages that you want to send to the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<Message>",
          "variableName" : "messages",
          "variableType" : "java.util.List<Message>",
          "documentation" : "<p>The messages that you want to send to the model.</p>",
          "simpleType" : "List<Message>",
          "variableSetterType" : "java.util.Collection<Message>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "system",
        "c2jShape" : "SystemContentBlocks",
        "deprecated" : false,
        "documentation" : "<p>A system prompt to pass to the model.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>A system prompt to pass to the model.</p>\n@param system A system prompt to pass to the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSystem",
        "getterDocumentation" : "/**<p>A system prompt to pass to the model.</p>\n@return A system prompt to pass to the model.*/",
        "getterMethodName" : "getSystem",
        "getterModel" : {
          "returnType" : "java.util.List<SystemContentBlock>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "system",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "system",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "SystemContentBlock",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "SystemContentBlock",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SystemContentBlock",
              "variableName" : "member",
              "variableType" : "SystemContentBlock",
              "documentation" : "",
              "simpleType" : "SystemContentBlock",
              "variableSetterType" : "SystemContentBlock"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "SystemContentBlock",
              "variableName" : "member",
              "variableType" : "SystemContentBlock",
              "documentation" : "",
              "simpleType" : "SystemContentBlock",
              "variableSetterType" : "SystemContentBlock"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "SystemContentBlock",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "SystemContentBlock",
          "templateImplType" : "java.util.ArrayList<SystemContentBlock>",
          "templateType" : "java.util.List<SystemContentBlock>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "System",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>A system prompt to pass to the model.</p>\n@param system A system prompt to pass to the model.*/",
        "setterMethodName" : "setSystem",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SystemContentBlock>",
          "variableName" : "system",
          "variableType" : "java.util.List<SystemContentBlock>",
          "documentation" : "",
          "simpleType" : "List<SystemContentBlock>",
          "variableSetterType" : "java.util.Collection<SystemContentBlock>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>A system prompt to pass to the model.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setSystem(java.util.Collection)} or {@link #withSystem(java.util.Collection)} if you want to override the existing values.</p>\n@param system A system prompt to pass to the model.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<SystemContentBlock>",
          "variableName" : "system",
          "variableType" : "java.util.List<SystemContentBlock>",
          "documentation" : "<p>A system prompt to pass to the model.</p>",
          "simpleType" : "List<SystemContentBlock>",
          "variableSetterType" : "java.util.Collection<SystemContentBlock>"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "inferenceConfig",
        "c2jShape" : "InferenceConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>\n@param inferenceConfig Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withInferenceConfig",
        "getterDocumentation" : "/**<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>\n@return Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.*/",
        "getterMethodName" : "getInferenceConfig",
        "getterModel" : {
          "returnType" : "InferenceConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "inferenceConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "inferenceConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "InferenceConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>\n@param inferenceConfig Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.*/",
        "setterMethodName" : "setInferenceConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InferenceConfiguration",
          "variableName" : "inferenceConfig",
          "variableType" : "InferenceConfiguration",
          "documentation" : "",
          "simpleType" : "InferenceConfiguration",
          "variableSetterType" : "InferenceConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>\n@param inferenceConfig Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "InferenceConfiguration",
          "variableName" : "inferenceConfig",
          "variableType" : "InferenceConfiguration",
          "documentation" : "<p>Inference parameters to pass to the model. <code>Converse</code> supports a base set of inference parameters. If you need to pass additional parameters that the model supports, use the <code>additionalModelRequestFields</code> request field.</p>",
          "simpleType" : "InferenceConfiguration",
          "variableSetterType" : "InferenceConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "toolConfig",
        "c2jShape" : "ToolConfiguration",
        "deprecated" : false,
        "documentation" : "<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>\n@param toolConfig Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withToolConfig",
        "getterDocumentation" : "/**<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>\n@return Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p>*/",
        "getterMethodName" : "getToolConfig",
        "getterModel" : {
          "returnType" : "ToolConfiguration",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "toolConfig",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "toolConfig",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "StructuredPojo",
        "marshallingType" : "STRUCTURED",
        "name" : "ToolConfig",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>\n@param toolConfig Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p>*/",
        "setterMethodName" : "setToolConfig",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ToolConfiguration",
          "variableName" : "toolConfig",
          "variableType" : "ToolConfiguration",
          "documentation" : "",
          "simpleType" : "ToolConfiguration",
          "variableSetterType" : "ToolConfiguration"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>\n@param toolConfig Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p>\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "ToolConfiguration",
          "variableName" : "toolConfig",
          "variableType" : "ToolConfiguration",
          "documentation" : "<p>Configuration information for the tools that the model can use when generating a response. </p> <note> <p>This field is only supported by Anthropic Claude 3, Cohere Command R, Cohere Command R+, and Mistral Large models.</p> </note>",
          "simpleType" : "ToolConfiguration",
          "variableSetterType" : "ToolConfiguration"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "additionalModelResponseFieldPaths",
        "c2jShape" : "ConverseRequestAdditionalModelResponseFieldPathsList",
        "deprecated" : false,
        "documentation" : "<p>Additional model parameters field paths to return in the response. <code>Converse</code> returns the requested fields as a JSON Pointer object in the <code>additionalModelResultFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p> <p> <code>[ \"/stop_sequence\" ]</code> </p> <p>For information about the JSON Pointer syntax, see the <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p> <p> <code>Converse</code> rejects an empty JSON Pointer or incorrectly structured JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested field is not in the model response, it is ignored by <code>Converse</code>.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>Additional model parameters field paths to return in the response. <code>Converse</code> returns the requested fields as a JSON Pointer object in the <code>additionalModelResultFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p> <p> <code>[ \"/stop_sequence\" ]</code> </p> <p>For information about the JSON Pointer syntax, see the <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p> <p> <code>Converse</code> rejects an empty JSON Pointer or incorrectly structured JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested field is not in the model response, it is ignored by <code>Converse</code>.</p>\n@param additionalModelResponseFieldPaths Additional model parameters field paths to return in the response. <code>Converse</code> returns the requested fields as a JSON Pointer object in the <code>additionalModelResultFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p> <p> <code>[ \"/stop_sequence\" ]</code> </p> <p>For information about the JSON Pointer syntax, see the <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p> <p> <code>Converse</code> rejects an empty JSON Pointer or incorrectly structured JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested field is not in the model response, it is ignored by <code>Converse</code>.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAdditionalModelResponseFieldPaths",
        "getterDocumentation" : "/**<p>Additional model parameters field paths to return in the response. <code>Converse</code> returns the requested fields as a JSON Pointer object in the <code>additionalModelResultFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p> <p> <code>[ \"/stop_sequence\" ]</code> </p> <p>For information about the JSON Pointer syntax, see the <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p> <p> <code>Converse</code> rejects an empty JSON Pointer or incorrectly structured JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested field is not in the model response, it is ignored by <code>Converse</code>.</p>\n@return Additional model parameters field paths to return in the response. <code>Converse</code> returns the requested fields as a JSON Pointer object in the <code>additionalModelResultFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p> <p> <code>[ \"/stop_sequence\" ]</code> </p> <p>For information about the JSON Pointer syntax, see the <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p> <p> <code>Converse</code> rejects an empty JSON Pointer or incorrectly structured JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested field is not in the model response, it is ignored by <code>Converse</code>.*/",
        "getterMethodName" : "getAdditionalModelResponseFieldPaths",
        "getterModel" : {
          "returnType" : "java.util.List<String>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "additionalModelResponseFieldPaths",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "additionalModelResponseFieldPaths",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "ConverseRequestAdditionalModelResponseFieldPathsListMemberString",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "String",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
[...]
